/***** Contact Form Elements *****/

#contactWrapper { width:100%; }
#contactWrapper label { display:block; float:none; font-size:12px; width:auto; font-weight: bold; margin-bottom: 7px; color: #fff;}
#contactWrapper label.error { display:block; float:none; font-size:12px; width:auto; font-weight: normal; margin-bottom: 0px; color: #bb3737; background: #fad6d6; border: 1px solid #bb3737; margin-top: 5px; padding: 5px 7px;}
#contactWrapper label.checked { display:none; background: none; border: 0px; margin-top: 0px; padding: 0px; text-indent: -5000px;}
#contactWrapper em { color: #01b3b3;}
#contactWrapper .stage { margin-bottom: 20px;}
#contactWrapper .requiredNote { margin: 20px 0px 20px; color: #333; font-weight: bold;}
#contactWrapper .success { padding: 10px; background: #f0ffc1; border: 1px solid #819934; margin-bottom: 15px; color: #819934;}
#contactWrapper .success p { margin: 0px;}
form#contactform input, form#contactform textarea { border: 1px solid #cfdede; border-bottom: 2px solid #ccc; padding:8px 12px; font-size:1em; color:#333; width: 100%; background: #fff; color: #777777; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;	}
form#contactform input:focus, form#contactform textarea:focus { outline: none; border-bottom: 2px solid #E03F00; }
#submitButton { width: 100% !important; max-width: 300px !important; float:right !important; font-family: Glypha, serif !important; letter-spacing: .1em; font-weight: bold;}
#submitButton:hover { background: #c6c6c6; color: #111; }
#submitButton:active { }
